 * {
     box-sizing: border-box;
 }

 .column {
     float: left;
 }

 .left {
     width: 45%
 }

 .right {
     width: 55%
 }

 .row:after {
     content: "";
     display: table;
     clear: both;
 }

 img.displayed {
     display: inline;
     margin-left: 10%;
     margin-right: auto;
 }